In [116]:
def Viterbi_FB(seq, transition, initials, generation):
    
    '''
    Gets most probable sequence of hidden states and estimates most probable hidden
    state at each time step.
    '''
    
    def forward_pass(MP_states, i):
        pass
    
    def backward_pass(MP_states, i):
        pass
    
    n=len(seq)
    m=len(initials)
    
    MP_seq=[]
    MP_states=np.zeros([m, n])
    
    MAX_prob=np.zeros([m, n])
    MAX_prob[:, 0]=[initials[j]*generation.loc[j+1, seq[0]] for j in range(m)]
    MAX_state=np.zeros([m, n], dtype='int')
    
    Forward_prob=np.zeros([m, n])
    Forward_prob[:, 0]=[initials[j]*generation.loc[j+1, seq[0]] for j in range(m)]
    Backward_prob=np.zeros([m, n])
    Backward_prob[:, n-1]=[1]*m
    
    for i in range(1, n):
        MAX_prob[:, i]=[max([MAX_prob[k, i-1]*transition[k, j]*generation.loc[j+1, seq[i]] \
                             for k in range(m)]) for j in range(m)]
        MAX_state[:, i]=[np.argmax([MAX_prob[k, i-1]*transition[k, j]*generation.loc[j+1, seq[i]] \
                                    for k in range(m)])+1 for j in range(m)]
        
        Forward_prob[:, i]=[sum([Forward_prob[k, i-1]*transition[k, j]*generation.loc[j+1, seq[i]] \
                             for k in range(m)]) for j in range(m)]
        Backward_prob[:, (n-1)-i]=[sum([Backward_prob[k, n-i]*transition[j, k]*generation.loc[k+1, seq[n-i]] \
                             for k in range(m)]) for j in range(m)]
        
    CT=sum(Forward_prob[:, n-1])
    for t in range(n):
        MP_states[:, t]=[(Forward_prob[j, t]*Backward_prob[j, t])/CT\
                         for j in range(m)]
        
    MP_seq.append(np.argmax(MAX_prob[:, n-1])+1)
    
    for i in range(n-2, 0, -1):
        MP_seq.append(MAX_state[MP_seq[-1]-1, i])
        
    return ''.join([str(x) for x in MP_seq[::-1]]), pd.DataFrame(MP_states, index=generation.index, \
                                                                 columns=['t_{}'.format(x) for x in range(1, n+1)])

In [73]:
import numpy as np
import pandas as pd
obs='ОРОРОРООРРРРРРРРРРОООООООО'
initials=np.array([0.5, 0.5])
Transition_1=np.array([[0.8, 0.2], [0.2, 0.8]])
Generation_1=pd.DataFrame([[0.5, 0.5], [0.1, 0.9]], columns=['О', 'Р'], index=[1, 2])

In [42]:
Transition_2=np.array([[0.5, 0.5], [0.5, 0.5]])
Generation_2=pd.DataFrame([[0.5, 0.5], [0.51, 0.49]], columns=['О', 'Р'], index=[1, 2])

In [133]:
seq, states=Viterbi_FB(obs, Transition_1, initials, Generation_1)

In [134]:
print(seq)
states

1111111122222222221111111

,t_1,t_2,t_3,t_4,t_5,t_6,t_7,t_8,t_9,t_10,...,t_17,t_18,t_19,t_20,t_21,t_22,t_23,t_24,t_25,t_26
1,0.859562,0.766096,0.878316,0.779394,0.886868,0.795124,0.910614,0.859996,0.456991,0.273184,...,0.279109,0.470005,0.888503,0.964619,0.978457,0.980939,0.981204,0.980223,0.974386,0.942217
2,0.140438,0.233904,0.121684,0.220606,0.113132,0.204876,0.089386,0.140004,0.543009,0.726816,...,0.720891,0.529995,0.111497,0.035381,0.021543,0.019061,0.018796,0.019777,0.025614,0.057783

In [135]:
seq, states=Viterbi_FB(obs, Transition_2, initials, Generation_2)

In [136]:
print(seq)
states

2121212211111111112222222

,t_1,t_2,t_3,t_4,t_5,t_6,t_7,t_8,t_9,t_10,...,t_17,t_18,t_19,t_20,t_21,t_22,t_23,t_24,t_25,t_26
1,0.49505,0.505051,0.49505,0.505051,0.49505,0.505051,0.49505,0.49505,0.505051,0.505051,...,0.505051,0.505051,0.49505,0.49505,0.49505,0.49505,0.49505,0.49505,0.49505,0.49505
2,0.50495,0.494949,0.50495,0.494949,0.50495,0.494949,0.50495,0.50495,0.494949,0.494949,...,0.494949,0.494949,0.50495,0.50495,0.50495,0.50495,0.50495,0.50495,0.50495,0.50495